#prompt-modal-container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: var(--white);
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.modal-title {
  padding: 0px 20px;
  font-size: var(--font-size-4);
  font-weight: var(--bold);
}

.modal-message {
  padding: 0px 20px;
  font-size: var(--font-size-6);
  font-weight: var(--regular);
}

.top-btn {
  padding: 5px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
  }
}
