@import url(/src/assets/css/reset.css);

:root {
    --main-color-1: #76adec; /* 메인 컬러 1 */
    --main-color-2: #f2a413; /* 메인 컬러 2 */
    --sub-color-1: #dbecff; /* 서브 컬러 1 */
    --sub-color-2: #ffe2ab; /* 서브 컬러 2 */
    --black-1: #ffffff; /* 검은색 대신 사용할 기본 흰색 */
    --white-1: #ffffff; 
    --grey-1: #b1b1b1; /* 회색 1 */
    --grey-2: #434343; /* 회색 2 */
  
    --title-1-font-family: Pretendard-Regular, sans-serif;
    --title-1-font-size: 70px;
    --title-1-line-height: normal;
    --title-1-font-weight: 400;
    --title-1-font-style: normal;
    --title-2-font-family: Pretendard-Regular, sans-serif;
    --title-2-font-size: 50px;
    --title-2-line-height: normal;
    --title-2-font-weight: 400;
    --title-2-font-style: normal;
    --title-3-font-family: Pretendard-Regular, sans-serif;
    --title-3-font-size: 40px;
    --title-3-line-height: normal;
    --title-3-font-weight: 400;
    --title-3-font-style: normal;
    --title-4-font-family: Pretendard-SemiBold, sans-serif;
    --title-4-font-size: 30px;
    --title-4-line-height: normal;
    --title-4-font-weight: 600;
    --title-4-font-style: normal;
    --title-5-font-family: Inter-Regular, sans-serif;
    --title-5-font-size: 28px;
    --title-5-line-height: normal;
    --title-5-font-weight: 400;
    --title-5-font-style: normal;
    --title-6-font-family: Inter-Regular, sans-serif;
    --title-6-font-size: 26px;
    --title-6-line-height: normal;
    --title-6-font-weight: 400;
    --title-6-font-style: normal;
    --title-7-font-family: Inter-Regular, sans-serif;
    --title-7-font-size: 24px;
    --title-7-line-height: normal;
    --title-7-font-weight: 400;
    --title-7-font-style: normal;
    --title-8-font-family: Inter-Regular, sans-serif;
    --title-8-font-size: 22px;
    --title-8-line-height: normal;
    --title-8-font-weight: 400;
    --title-8-font-style: normal;
    --title-9-font-family: Inter-Regular, sans-serif;
    --title-9-font-size: 20px;
    --title-9-line-height: normal;
    --title-9-font-weight: 400;
    --title-9-font-style: normal;
}