#header-container {
  width: 100%;
  max-width: inherit; /* 상위 요소의 max-width를 상속 */
  height: 80px;
  position: static;
  border-bottom: 2px solid var(--main-color-1, #76adec); 
  overflow: hidden; /* 내부 요소가 부모 영역을 넘지 않도록 설정 */
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 내부 요소를 수직 정렬 */
  padding: 0 20px;
  height: 100%;
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.logo2 {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
